{% extends 'layout.html' %}

{% block content %}
<div id="profile-page">
    <h1>{{ user.username }}'s Profile</h1>
    <img src="{{ url_for('static', filename='images/avatars/' + user.avatar) }}" alt="User Avatar" width="100">

    <h2>Bio</h2>
    <p>{{ user.bio or 'No bio available' }}</p>

    <h2>Reviews</h2>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
            <div class="review-card">
                <ul>
                    <p>{{ review.content }}</p>
                    {% if review.book_id %}
                        <p>Review of Book: <a href="{{ url_for('book', book_id=review.book_id) }}">{{ review.book.title }}</a></p>
                    {% elif review.movie_id %}
                        <p>Review of Movie: <a href="{{ url_for('movie', movie_id=review.movie_id) }}">{{ review.movie.title }}</a></p>
                    {% elif review.game_id %}
                        <p>Review of Game: <a href="{{ url_for('game', game_id=review.game_id) }}">{{ review.game.title }}</a></p>
                    {% endif %}
                </ul>
            </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No reviews yet.</p>
    {% endif %}
</div>
{% endblock %}
